# Disable strict SSL
strict-ssl=false

# Use the default node_modules linker
node-linker=node-modules

# Registry to use
registry=https://pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/registry/

# Auth and registry settings
; begin auth token
//pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/registry/:always-auth=true
//pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/registry/:username=shannun-digital
//pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/registry/:_password=NWN3YnlzbGZnZXFiNmJlamp3a2E0YWR3eHZhbm16cWNkbHRmZG54ZGpkcm1pYjRoNnhsYQ==
//pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/:always-auth=true
//pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/:username=shannun-digital
//pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/:_password=NWN3YnlzbGZnZXFiNmJlamp3a2E0YWR3eHZhbm16cWNkbHRmZG54ZGpkcm1pYjRoNnhsYQ==
//pkgs.dev.azure.com/shannun-digital/shannun-digital-microservices/_packaging/node-feed/npm/:email=npm requires email to be set but doesn't use the value
; end auth token